{% extends "layout.html" %}

{% block title %}
    News: Purry Foundation, Nobel Nominee!
{% endblock %}

{% block main %}

    <img class="news_images_large" src="/static/purry_news1.jpg">

    <h5 class="news_titles_large"> Purry Foundation, nominated for the Nobel Prize, again! </h5>
    
    <div style="column-count: 4; column-gap: 40px;">

        <p class="news-description_large">
            She did it again! The Purry Foundation is nominated once more for the Noble Prize due to the tireless efforts of our stuff
            and of course, of our lovely, unique, magnificent, without a match: Mascot Purry!
        </p>

        <p class="news-description_large">
            On 25 September 2022, at 4 PM, the Nobel Prize Comitee announced that Purry Foundation is going to be a runner up for the 
            'Peace Nobel Prize' in the 2022-2023 edition! The highly esteemed comitee took this oportunity to show their appreciation for 
            the tireless work and valiant results of the Foundation! They underlined that: "The importance of the such initiatives cannot be 
            underestimated, for they are the ones which take care of all the peoples, no, all living beings needs." Says Oprea Opreanson, chef
            of the aforementioned comitee.
        </p>

        <p class="news-description_large"> 
            When asked about the odds of Purry Foundation winning this highly valued Prize, again, the chef only affirmed that: "Obviously, I
            cannot give too much insight on the matter, however, the supporters of the Foundation should keep an eye on this year's developments."
        </p>
        
        <p class="news-description_large">
            There you have it. Purry Adoption Foundation manages for the second year in a row, since its founding in 2015, to impress everyone
            and make its voice heard, vibrating accros peoples and nations!
        </p>

        <p class="news-description_large">
            As a reminder, the results of this Nobel Prize Edition will be presented on 25th December, 2PM, Eastern European time. May Purry
            Foundation emerge victorious!
        </p>

    </div>

    <h4 class="news-description_large" style="margin-top: 25px; font-size: 18px; font-weight: bold;"> Reporter: Stefan Stefanovsky </h4>
        
    <div id="easter_egg">
        You actually found this hidden message? Impressive! Go watch "The Mandalorian". It is pretty cool.
    </div>

    {% if session["user_id"] %}

    <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
        Any injurious comment will be removed and will result in permanent ban.
    </div>

        <form class="comment_form" action="/news/purry-nobel-prize-nomenee" method="post">

            <div class="form-group mb-2">
                <label class="form-label"> Leave a comment: </label>
                <textarea rows="4" class="form-control" required="" name="comment" placeholder="Comment here..." type="text"></textarea>
            </div>

            <button type="submit" class="btn btn-primary"> Submit comment </button>

        </form>

        <hr>

    {% else %}
    <div class="alert alert-warning" role="alert" style="margin-top: 20px;">
        If you wish to comment, you must register and/or log into your account.
    </div>
    
    {% endif %}
    <section">
        <label style="font-size: 30px; margin: 20px; font-family: 'Trebuchet MS', sans-serif;"> Comments: </label>
    </section>

    {% if r %}
        {% for i in range(r) %}
            <h5 id="user_tag" >
                User: {{ comments[i]["username"] }} says:
            </h5>
            <p id="comment_tag">
                "{{ comments[i]["comment"] }}" 
            </p>
        {% endfor %}
    {% endif %}
    
{% endblock %}