/* Size for menu */
.nav-item {
    font-size: larger;
}

/* Titles */
.titles {
    margin-bottom: 25px;
}

/* Logo Specifications */
#logo {
    width: 110px;
}

/* Copyright */
#copyright {
    font-size: medium;
}

/* More cats! */
#register_cat {
    width: 250px;
}
#login_cats {
    margin-bottom: 20px;
    width: 320px;
}

