/* Basics */
:root {
    --basic-color: #212529;
    --basic-font: 'Trebuchet MS', sans-serif;
    --crem: #F9F1F0;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_cats {
    margin-bottom: 20px;
    width: 320px; 
}

.nav-item {
    font-size: larger;
}

.titles {
    margin-bottom: 25px;
}

#logo {
    width: 110px;
}

.btn {
    margin-top: 15px;
}

/* Copyright */
#copyright {
    font-size: 20px;
    height: 30px;
    color: var(--basic-color);
}

/* Index: */
#index-up-right-part {
    background-image: url(/static/background-image-test.png);
    background-repeat: no-repeat;
}

#purry_index {
    position: relative;
    width: 600px;
    right: 70px;
    float: left;
    margin-right: 30px;
    animation: purry_ind 1.5s ease-in-out;
}

.index-paragraph, .index_titles, .index_subtitles, #begun_paragraph {
    font-family: var(--basic-font);
}

.index-paragraph {
    color: whitesmoke;
    margin-top: 20px; 
    font-size: 25px;
    margin-right: 50px;
    text-align: left;
}

.index_titles {
    color: var(--basic-color);
}


#olive_leaves {
    width: 130px;
    margin-top: 20px;
    margin-bottom: 20px;     
}

.index_subtitles {
    margin-top: 50px;
    text-align: left;
    color: whitesmoke;
}

#begun_paragraph {
    margin-top: 140px;
    margin-left: 340px;
    margin-right: 340px;
    outline-style: solid;
    outline-width: 5px;
    outline-offset: 10px;
    color: var(--basic-color);
}

#kitten_gif {
    width: 160px;
    margin-left: 50px;
}

#founder_index {
    width: 220px;
    clip-path: circle();
}

/* News */
#news_newsletter {
    margin-bottom: 20px;   
    font-size: 25px; 
}

.news_images {
    margin-top: 50px;
    margin-bottom: 20px;
    border: 4px solid var(--basic-color);
    border-top: none;
    border-left: none;
    margin: 40px;
}

.news_titles {
    font-family: "Times New Roman",Times, sans-serif;
    margin-bottom: 20px;
}

.news-description, .news_title_large, .news-description_large {
    font-family: "Times New Roman", serif;
}

.news_images_large {
    width: 400px;
    float: left;
    margin: 50px;
    border: 3px solid var(--basic-color);
}

.news_titles_large {
    font-size: 40px;
    margin-bottom: 50px;
}

.news-description_large {
    font-size: 22px;
    text-align: left;
}

hr {
    border-radius: 5px;
    border-top: 4px solid var(--basic-color); 
}

.comments_input {
    font-family: var(--basic-font);
    margin-top: 30px;
    position: relative;
    right: 770px;
    font-size: 25px;
}

.alert {
    padding: 10px;
    font-size: 20px;
}

#user_tag {
    position: relative;
    right: 400px;
    color: #4e85a2;
}

#easter_egg {
    background-color: var(--basic-color); 
    margin-top: 70px; 
    height: 30px; 
}

#comment_tag {
    margin-top: 30px;
    text-align: left;
    margin-left: 650px;
    font-size: 20px;
    color: #595959;
}

.comment_form {
    text-align: left; 
    font-size: 20px; 
    margin: 700px; 
    margin-top: 60px; 
    margin-bottom: 0px; 
}

/* Donations */
#donations-introduction, #donations-paragraph, #sum, #foot-paragraph 
.donation_form_cardholder, .donation_form_cardNo, .card_expiration_date, .card_code, .form_aspect {
    font-family: var(--basic-font);
    color: var(--basic-color);
}

#donations-introduction {
    font-size: 30px;
}

#donations-paragraph {
    margin-top: 15px;
    font-size: 1.8rem;
}

.donation_buttons {
    margin: 10px;
    font-size: 25px;
    padding: 15px;
    margin-bottom: 20px;
}

#sum {
    font-size: 30px;
}

.donation_form_cardholder, .donation_form_cardNo, .card_expiration_date, .card_code, .form_aspect {
    padding-left: 900px;
    padding-right: 600px;
    position: relative;
    right: 150px;
    font-size: 20px;
    text-align: left;
}

.foot-paragraph {
    margin-top: 30px;
    font-size: 18px;
}

/* My account */
#make_donation_button, #change_email_button, #change_pass_button, #cancel_newsletter_btn, #delete_account_btn {
    width: 100px;
    height: 60px;
    font-size: 16px;
    margin: 5px;
    padding: 5px;
    position: relative;
    left: 700px;
}

.account_info {
    position: absolute;
    left: 950px;
    top: 600px;
    width: 200px;
    font-style: var(--basic-font);
    color: var(--basic-color);
    text-align: center;
    border: 6px dotted var(--basic-color);
}

.account_buttons {
    max-width: 200px;
}

#username_var {
    font-size: 20px;
    width: 20px;
    color: red;
    font-weight: bold;
}

#account_id, #account_username {
    margin: 20px;
}

/* Advice */
#advice-footer, #advice-container, #advice-footer{
    font-family: var(--basic-font);
    color: var(--basic-color);    
}

#advice-container {
    font-size: 18px;
    margin-left: 480px;
    margin-right: 480px;
}

h4, h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

#advice-footer {
    position: relative;
    font-size: 20px;
    right: 280px;
    text-decoration: underline;
}

#adv_img {
    width: 700px;
    border: 4px solid #212529;
}

/* Contact */
#contacts_icon {
    position: relative;
    bottom: 4px;
}

.contacts{
    width: 40px;
    font-size: 25px;
    text-decoration: none;
    margin: 10px;
}

#fullName, #email {
    margin-left: 700px;
    margin-right: 700px;
}

#fullName {
    margin-top: 25px;
}

#contact_label {
    font-family: var(--basic-font);
    color: var(--basic-color);
    font-size: 30px;
    margin-bottom: 20px;
}

/* Adopt */
#adopt-legal {
    padding-top: 30px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 550px;
    justify-content: center;   
    font-family: var(--basic-font);
    font-size: 20px;
    color: var(--basic-color); 
}

.legal-h {
    margin-bottom: 30px;
    font-weight: bold;
}

.grid-container {
    display: grid;
    margin-top: 80px;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 3;
    justify-content: center;
    justify-items: center;
}

#a-descrp-1, #a-descrp-2, #a-descrp-3 {
    position: relative;
    font-family: var(--basic-font);
    color: var(--basic-color);
    left: 210px;
}

#a-descrp-1 {
    bottom: 160px;
}

#a-descrp-2 {
    bottom: 155px;
}

#a-descrp-3 {
    bottom: 150px;
}

#adopt_cat {
    width: 200px;
    border: 9px solid pink;
}

/* Stories */
#gif_cat_stories {
    padding-top: 30px;
    width: 200px;
}

#stories-don-p {
    font-family: var(--basic-font);
    color: var(--basic-color);
    font-weight: bolder;
    font-size: 20px;
    padding-top: 20px;
}

#donation_box {
    padding-top: 30px;
    margin-bottom: 20px;
}

.stories_cat {
    width: 400px;
    clip-path: circle();
    float: left;
}

#stories-bk {
    background-color: var(--crem);
}

#stories-int {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: var(--basic-font);
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
}

.flexbox-item {
    margin-top: 50px;
    margin-bottom: 50px;
}

#flex-h-1, #flex-h-2, #flex-h-3 {
    padding-top: 40px;
    margin-bottom: 40px;
    font-family: var(--basic-font);
    color: var(--basic-color);
}

#flex-p-1, #flex-p-2, #flex-p-3 {
    padding-right: 60px;
    font-size: 20px;
    font-family: var(--basic-font);
    color: var(--basic-color);
}

/* Media queries */
@media (min-device-width: 320px) and (max-device-width: 414px)
{
    /* Phones */
    .account_info {
        left: 150px;
        top: 600px;
    }

    #purry_index {
        left: 4px;
        animation: none;
        background-image: url(/static/background-image-test.png);
        background-repeat: no-repeat;
    }

     #index-up-right-part {
        background-color: #4e85a2;
        background-image: none;
    }
     
    #begun_paragraph {
        outline-style: none;
        margin-right: 0px;
        margin-left: 0px;
    }

    .news-description {
        font-size: 20px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .news_images_large {
        width: 320px;
        margin-left: 20px;
    }
    
    .news-description_large {
        font-size: 12px;
        text-align: left;
    }

    #easter_egg {
        visibility: hidden;
    }
    .alert {
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }

    #user_tag {
        right: 0px;
        text-align: left;
    }
    
    #comment_tag {
        margin-left: 0px;
        text-align: center;
    }
    
    #comment_form {
        font-size: 20px; 
        margin: 3px; 
        margin-top: 0px; 
    }

    #donations-introduction {
        margin-left: 0px;
        margin-right: 0px;
    }

    .donation_form_cardholder, .donation_form_cardNo, .card_expiration_date, .card_code,
     .form_aspect {
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        right: 0px;
    }
    
    #make_donation_button, #change_email_button, #change_pass_button, #cancel_newsletter_btn, #delete_account_btn {
        width: 100px;
        height: 60px;
        font-size: 16px;
        margin: 5px;
        padding: 5px;
        position: relative;
        left: 20px;
    }
    
    .account_buttons {
        max-width: 0px;
    }
    
    #advice-container {
        font-size: 18px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #adv_img {
        width: 300px;
    }
    
    #advice-footer {
        right: 0px;
    }
    
    #happy_advice_cat {
        width: 300px;
    }

    #fullName {
        margin-top: 25px;
    }
    
    .comment_form {
        margin: 0px;        
    }

    #fullName, #email {
        margin-left: 0px;
        margin-right: 0px;
    }

    .contacts {
        font-size: 15px;
        margin: 2px;
    }

    #contacts_icon {
        position: none;   
    }

    .legal-p, .legal-h {
        font-size: 15px;
        margin-left: 85px;
        margin-right: 85px;
    }

    .grid-container {
        display: flex;
        flex-wrap: wrap;
        -ms-flex-align: center;
        margin-right: 0px;
    }

    .grid-item {
        margin: 10px;
    }

    #adopt_cat {
        width: 150px;
    }

    #a-descrp-1, #a-descrp-2, #a-descrp-3 {
        position: relative;
        bottom: 0px;
        left: 0px;
    }
}

@media  (min-device-width: 1085px) and (max-device-width: 1571px)
{   
    /* Stubborn paragraph - Index */
    #stubborn {
        color: black;
    }
}

/* Animations */
/* Purry slide */
@keyframes purry_ind {
    0% {
        transform: translateX(-60%);
    }
} 

/* Reload page effect */
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
