{% extends "layout.html" %}

{% block title %}
    Adopts
{% endblock %}

{% block main %}

    <div class="alert alert-danger" role="alert">
        If you wish to adopt any of our lovely cats, contact us directly! 
    </div>
    
<div style="background-color: var(--crem);">

    <div id="adopt-legal">
        <h1 class="legal-h"> Importcodt LEGAL information: </h1>

        <p class="legal-p"> We deserve the right of selecting the people who are going to adopt our cats. </p>
        
        <p class="legal-p"> When you adopt any of our pet you enter e legal-binding agreement that you are going to assure 
            its proper care; that you will not provoke its harm in any way, shape or form, ever; that you allow us to regularly
            visit in order to evaluate its condition. If this agreement is not respect, you will pay the Foundation a substantial
            amount of money in damages.</p>
            
        <p class="legal-p"> Contact us for more details about our legal-binding agreement. </p>

    </div>

    <hr>

    <div class="grid-container" style="text-align: left;">

        <div class="grid-item grid-item-1"> <img src="/static/adopt_cat.jpg" id="adopt_cat"> 
            <h5 id="a-descrp-1">Name: Mangochen</h5> <h5 id="a-descrp-2"> Age: 3m. </h5> <h5 id="a-descrp-3"> Color: Snow-white </h5></div>
      
        <div class="grid-item grid-item-1"> <img src="/static/adopt_cat.jpg" id="adopt_cat"> 
            <h5 id="a-descrp-1">Name: Mangochen</h5> <h5 id="a-descrp-2"> Age: 3m. </h5> <h5 id="a-descrp-3"> Color: Snow-white </h5></div>
      
        <div class="grid-item grid-item-1"> <img src="/static/adopt_cat.jpg" id="adopt_cat"> 
            <h5 id="a-descrp-1">Name: Mangochen</h5> <h5 id="a-descrp-2"> Age: 3m. </h5> <h5 id="a-descrp-3"> Color: Snow-white </h5></div>
      
        <div class="grid-item grid-item-1"> <img src="/static/adopt_cat.jpg" id="adopt_cat"> 
            <h5 id="a-descrp-1">Name: Mangochen</h5> <h5 id="a-descrp-2"> Age: 3m. </h5> <h5 id="a-descrp-3"> Color: Snow-white </h5></div>
      
        <div class="grid-item grid-item-1"> <img src="/static/adopt_cat.jpg" id="adopt_cat"> 
            <h5 id="a-descrp-1">Name: Mangochen</h5> <h5 id="a-descrp-2"> Age: 3m. </h5> <h5 id="a-descrp-3"> Color: Snow-white </h5></div>
      
        <div class="grid-item grid-item-1"> <img src="/static/adopt_cat.jpg" id="adopt_cat"> 
            <h5 id="a-descrp-1">Name: Mangochen</h5> <h5 id="a-descrp-2"> Age: 3m. </h5> <h5 id="a-descrp-3"> Color: Snow-white </h5></div>
      
        <div class="grid-item grid-item-1"> <img src="/static/adopt_cat.jpg" id="adopt_cat"> 
            <h5 id="a-descrp-1">Name: Mangochen</h5> <h5 id="a-descrp-2"> Age: 3m. </h5> <h5 id="a-descrp-3"> Color: Snow-white </h5></div>
      
        <div class="grid-item grid-item-1"> <img src="/static/adopt_cat.jpg" id="adopt_cat"> 
            <h5 id="a-descrp-1">Name: Mangochen</h5> <h5 id="a-descrp-2"> Age: 3m. </h5> <h5 id="a-descrp-3"> Color: Snow-white </h5></div>
      
        <div class="grid-item grid-item-1"> <img src="/static/adopt_cat.jpg" id="adopt_cat"> 
            <h5 id="a-descrp-1">Name: Mangochen</h5> <h5 id="a-descrp-2"> Age: 3m. </h5> <h5 id="a-descrp-3"> Color: Snow-white </h5></div>
         
    </div>

</div>
{% endblock %}
