{% extends "layout.html" %}

{% block title %}
    Advice
{% endblock %}

{% block main %}

    <img id="adv_img" src="/static/happy_cat_img.png" alt="happy_cat.img">

    <div id="advice-container">
        
        <h4> Summary</h4>
        <div>
            <li><a href="#1"> Brush your cat every day </a></li>
            <li><a href="#2"> Don't feed your cat too much dry food </a></li>
            <li><a href="#3"> Pay attenton to your pet's thirst </a>
            <li><a href="#4"> Spray or neuter your cat </a>
            <li><a href="#5"> Travel safely with your pet </a>
            <li><a href="#6"> Choose a cat-friendly vet </a>
            <li><a href="#7"> Let them show off!</a>
            <li><a href="#advice-footer"> Source </a>
        </div>

        <h3 style="font-size: 40px;"> Introduction </h3>
        <p style="font-size: 30px;"> Here is some advice on how to treat your lovely pet on a daily basis. Having a pet is no easy task, but
            a huge responsibility, so keep in mind that this list is not exhaustive.
        </p>

        <hr style="border-top: 10px solid var(--basic-color);">
        
        <h3 id="1">1. Brush your cat every day </h3>
        <p> Brushing or combing your cat daily will cut down on the hairballs that can develop in the digestive tract. 
            Because cats spend so much time grooming themselves, some owners may not realize that brushing is something 
            that can help their pet by removing loose hair. Werber says that the key to getting a cat to cooperate with brushing 
            is connecting brushing with happy events. ″Maybe you always brush before a meal,″ he says. ″Then your cat will associate 
            it with something delicious."
        </p>
        
        
        <h3 id="2">2. Don't feed your cat too much dry food </h3>
        <p> Unlike dogs, cats cannot be vegetarians, even for short periods of time. They rely on meat as the foundation of their diets, 
            and the main meal of the day should always be meat, says Werber. He cautions that exclusively feeding cats dry food diets may 
            mean they consume too many carbs, which can be bad for cats in large amounts. "We see cats developing Type 2 diabetes and growing 
            obese from too much dry food," Werber explains. If you own both dogs and cats, it can be tempting to treat them the same, but dog 
            food is not good for cats, nor can a cat's system tolerate carbohydrates the way a dog's system will.
        </p>
        
        
        <h3 id="3">3. Pay Attention to your pet's thirst </h3>
        <p> Today's domestic cats evolved from desert-dwelling ancestors, meaning felines don't have the same thirst-drive as dogs. 
            They need to get most of their water from food. Something that a cat might normally eat in the wild—like a mouse—is about 70% water, 
            while canned food is 78% water. Dry food is only 5% to 10% water on average. Give your cat access to fresh water at all time, and you 
            may notice cats drinking more when they are eating more dry food. Elderly and nursing cats can be more prone to dehydration than others, 
            so watch them carefully for such symptoms as sunken eyes, lethargy, and panting.
        </p>
        
        
        <h3 id="4">4. Spray or neuter your cat </h3>
        <p> There is nothing more beneficial to your cat long-term than having them spayed or neutered, Werber says. ″Female cats are very 
            uncomfortable when they go into heat," he adds. Spaying and neutering can help keep your cat safe, too. Because un-altered male 
            cats will fight, they put themselves at risk to transmit diseases through their bites and scratches. The situation is not much 
            better for female cats, either. Female cats can become pregnant as early as four months old, and mating and birthing multiple 
            litters of kittens can be very stressful for them—not to mention the stress owners deal with when they go into heat. 
            And because there are hundreds of thousands of unwanted cats in shelters waiting for their forever homes, it's better to not add 
            to the population.
        </p>
        
        
        <h3 id="5">5. Travel safely with your pet </h3>
        <p> Even if your cat seems to prefer it, do not let him or her travel unrestrained in a car. It's distracting to the driver 
            and in the case of an accident, a cat can become a dangerous projectile. Werber also warns to ″never, ever leave your cat 
            alone in a parked car." Even in cooler temperatures, and even with the windows cracked, a car quickly becomes uncomfortable 
            for a fur-wearing pet. It takes mere minutes for a cat to perish in a warm car. Leave your cat at home if you do not plan to 
            bring him or her inside with you.
        </p>
        
        
        <h3 id="6">6. Choose a cat-friendly vet </h3>
        <p> Some veterinary practices are dominated by a canine clientele, and that can be scary for a cat who has to spend a good chunk 
            of time in the waiting room with dogs all around. ″Look for a vet who has separate waiting areas for cats and dogs," says Werber. 
            While that's the ideal, not all practices have the space for that kind of accommodation. If your favorite vet doesn't have two waiting 
            rooms, at least ask to be called into the exam room quickly, Werber advises.
        </p>
        
        
        <h3 id="7">7. Let them show off! </h3>
        <p> When a cat loves you, he or she wants to demonstrate it, sometimes by presenting you with the results of a successful hunt. 
            Werber suggests accepting the gifts with grace (even when sort of gross—hello, partially chewed mouse!). Your pet will also
            show you love by head bumping, purring, or kneading you with his or her paws. Sit back and enjoy.
        </p>
        
    </div>
    
    <div id="donation_box">
        <p id="stories-don-p"> Wanna contribute? Click here! </p>
        <a href="/donations" class="btn btn-danger donation_buttons"> Go to donations </a>
    </div>    
    
    <p id="advice-footer"> Source: https://www.dailypaws.com/ </p>
    
    
{% endblock %}
