{% extends "layout.html" %}

{% block title %}
    Change Email Address
{% endblock %}

{% block main %}
    <form action="/change_email" method="post">
        <div>
            <img class="input_cats" src="/static/change_email_cat.png">
        </div>    
        
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" required="" id="new_email" name="new_email" placeholder="New Email Address" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
