{% extends "layout.html" %}

{% block title %}
   Main
{% endblock %}

{% block main %}
   <div class="index">

      <img id="purry_index"  src="/static/purry_index.png">     
      <h1 class="index_titles" id="welcome"> WELCOME! </h1>
      <h4 class="index_subtitles"> WHO ARE WE: </h4>

      <p class="index-paragraph">
         Born through the pain of tens of thousands of poor cats and kittens, who, due to this world’s cruelty, 
         have never experienced a happy life. For the new ones, the ones that live now or are about to be born into this world: 
         They have no family, we will find one; They have no help, we will help them; They have nobody, we will be there; 
         They experienced no love, we will love them. 
      </p>
      <img id="olive_leaves" class="img-fluid" src="/static/olive_leaves.png">
      <h5 style="animation: transitionIn 2s; color: #595959;"> In memory of ‘Snowy’, the kitten who didn’t get to live enough. </h5>

      

      <h4 class="index_subtitles"> WHAT WE DO: </h4>
      <p class="index-paragraph">
         Our purpose is simple: Taking into our care any kitten/cat with no home. See to its proper recovery and socialization. 
         Then, we will do our best to find a suitable family for them in the shortest amount of time. As a disclaimer: 
         all our cats are sterilized, properly fed and regularly medically checked. 
      </p>

      <hr class="solid">

      <h4 class="index_subtitles" id="begun_subtitle"> HOW IT ALL BEGUN: </h4>
      <p class="index-paragraph" id="begun_paragraph">
         After witnessing the cruel treatment many pets receive in my home country, due to the carless people and incompetent authorities, 
         I have decided to step forward for making a change. Things simply cannot go on like this. This is how Purry Adoption Center 
         has started and it will go on.
      </p>
      <img id="founder_index" class="img-fluid" src="/static/founder_index.jpg">
      <img id="kitten_gif" class="img-fluid" src="/static/kitten_gif.gif">
   </div>
{% endblock %}