{% extends "layout.html" %}

{% block title %}
    My Account
{% endblock %}

{% block main %}
    <!-- <div>
        <img id="" src="">
    </div> -->
    <div class="buttons">
        <a class="btn btn-warning" id="change_pass_button" href="/change_pass">Change Password</a>
    </div>

    
    <!-- <script type="text/javascript">

        document.getElementById("change_pass_button").onclick = function() {
            location.href = "/change_pass";
        };

    </script> -->
{% endblock %}
