{% extends "layout.html" %}

{% block title %}
    My Account
{% endblock %}

{% block main %}

    <div>
        <a class="btn btn-success" id="make_donation_button" href="/donations">Make Donation</a>
    </div>

    <div>
        <a class="btn btn-warning" id="change_email_button" href="/change_email">Change Email</a>
    </div>
    

    <div>
        <a class="btn btn-warning" id="change_pass_button" href="/change_pass">Change Password</a>
    </div>
    
    <div>
        <a class="btn btn-primary" id="cancel_newsletter_btn" href="/cancel_newsletter">Cancel Newsletter</a> 
    </div>

    <form method="post">
        
        <div>
            <input class="btn btn-danger" name="delete_account_btn" id="delete_account_btn" type="submit" value="Delete Account"> 
        </div>

    </form>
    
    
{% endblock %}
