{% extends "layout.html" %}

{% block title %}
    Regular Donations Form
{% endblock %}

{% block main %}

    <h4 class="index_titles" style="margin-bottom: 20px;"> Regular Donations: </h4>

    <form method="post" style="animation: transitionIn 2s;">

        <div class="card_expiration_date" id="sum_regular">
            <label class="form-label"> Regular sum to be donated: </label>
            <input name="regular_sum" id="regular_sum" autofocus type="text" class="form-control" placeholder="$">
        </div>

        <div class="donation_form_cardNo">
            <label class="form-label"> Card number: </label>
            <input name="card_number" id="card_number" autofocus type="text" class="form-control">
        </div>

        <div class="donation_form_cardholder">
            <label class="form-label"> Cardholder Name: </label>
            <input  name="cardholder_name" id="cardholder_name" autofocus type="text" class="form-control">
        </div>
        
        <div class="card_expiration_date" id="padding">
            <label class="form-label"> Exp. Date: </label>
            <input name="expiration_date" id="expiration_date" placeholder="MM/YYYY" autofocus type="text" class="form-control">
        </div>
            
        <div class="card_code" id="padding">
            <label class="form-label"> Security Code </label>
            <input name="card_code" id="expiration_date" placeholder="CVV/CVV2" autofocus type="text" class="form-control">
        </div>
        
        <div class="donation_form_cardholder">
            <label class="form-label"> Email Address </label> 
            <input name="email_address" id="cardholder_name"  autofocus type="text" class="form-control">
        </div>


        <button type="submit" class="btn btn-primary" style="margin-top: 30px; width: 80px; height: 50px; font-size: 25px;"> Pay monthly donation </button>

    </form>

    <p class="foot-paragraph"> The selected sum will be extracted from the aforementioned payment method once a month, on the date of 15th exactly </p> 

{% endblock %}
