{% extends "layout.html" %}

{% block title %}
    Regular Donations Form
{% endblock %}

{% block main %}

    <h4 style="margin-bottom: 20px;"> Regular Donations: </h4>

    <form method="post">

        <div class="card_expiration_date">
            <label class="form-label"> Regular sum to be donated: </label>
            <input name="sum"  required="" type="text" class="form-control" placeholder="$">
        </div>

        <div class="donation_form_cardNo">
            <label class="form-label"> Card number: </label>
            <input name="card_number" required="" type="text" class="form-control">
        </div>

        <div class="donation_form_cardholder">
            <label class="form-label"> Cardholder Name: </label>
            <input  name="cardholder_name" required="" type="text" class="form-control">
        </div>
        
        <div class="card_expiration_date">
            <label class="form-label"> Exp. Date: </label>
            <input name="expiration_date" placeholder="MM/YYYY" required="" type="text" class="form-control">
        </div>
            
        <div class="card_code">
            <label class="form-label"> Security Code </label>
            <input name="card_code"  placeholder="CVV/CVV2" required="" type="text" class="form-control">
        </div>
        
        <div class="donation_form_cardholder">
            <label class="form-label"> Email Address </label> 
            <input name="email_address" required="" type="text" class="form-control">
        </div>

        <div class="donation_form_cardNo">
            <label class="form-label"> Number months </label>
            <input name="number_months" required="" type="number" class="form-control">
        </div>
        

        <button type="submit" class="btn btn-primary" style="margin-top: 30px; width: 80px; height: 50px; font-size: 25px;"> Pay monthly donation </button>

    </form>

    <p class="foot-paragraph"> The selected sum will be extracted from the aforementioned payment method once a month, on the date of 15th exactly </p> 

{% endblock %}
