{% extends "layout.html" %}

{% block title %}
    Success Stories
{% endblock %}

{% block main %}

<h2 id="stories-int"> Welcome to our Success Stories page! Here you will see some of our greatest achievements! Enjoy.</h2>

<div id="stories-bk">

    <img src="/static/kitten2_gif.gif" id="gif_cat_stories">

    <div id="donation_box">
        <p id="stories-don-p"> Wanna contribute? Click here! </p>
        <a href="/donations" class="btn btn-danger donation_buttons"> Go to donations </a>
    </div>

    <div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">
        <img src="/static/stories_cat.jpg" class="stories_cat">
        <h2 id="flex-h-1">Little Jerry</h2>
        <p id="flex-p-1"> This little lovely fellow has been rescued by us outisde Cringe City, in Cringesty. He was inside of a blue bag,
            crying out loud for someone to come to their rescue...Luckily, our lovely staff member Maria Cringenovicky happened to pass by him.
            Ever since, against the vicissitudes of fate, this big guy has been an important part of our little community! You can imagine that 
            his safety and well-being will without a doubt remain  a great cause of concern for us, even after his being taken into care by 
            someone else. 
        </p>
    </div>
    <div  class="flexbox-item flexbox-item-2">
        <img src="/static/stories_cat.jpg" class="stories_cat">
        <h2 id="flex-h-2">Little Jerry</h2>
        <p id="flex-p-2">This little lovely fellow has been rescued by us outisde Cringe City, in Cringesty. He was inside of a blue bag,
            crying out loud for someone to come to their rescue...Luckily, our lovely staff member Maria Cringenovicky happened to pass by him.
            Ever since, against the vicissitudes of fate, this big guy has been an important part of our little community! You can imagine that 
            his safety and well-being will without a doubt remain  a great cause of concern for us, even after his being taken into care by 
            someone else. </p>
    </div>
        <div class="flexbox-item flexbox-item-3">
            <img src="/static/stories_cat.jpg" class="stories_cat">
            <h2 id="flex-h-3">Little Jerry</h2>
            <p id="flex-p-3">This little lovely fellow has been rescued by us outisde Cringe City, in Cringesty. He was inside of a blue bag,
                crying out loud for someone to come to their rescue...Luckily, our lovely staff member Maria Cringenovicky happened to pass by him.
                Ever since, against the vicissitudes of fate, this big guy has been an important part of our little community! You can imagine that 
                his safety and well-being will without a doubt remain  a great cause of concern for us, even after his being taken into care by 
                someone else. </p>
        </div>
    </div>

</div>
{% endblock %}
